body{
    background-color:#d2f0ff;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("images/bluestarback.gif");
    background-repeat: repeat;
    color: white;
}   


h1 {
    font-variant: small-caps;
    text-align: center;
    border: 3px inset red;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.titre-superpose {
    position: relative;
    text-align: center;
    border: 3px inset #0cff00;
    height: 2em;
    font-variant: small-caps;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* empêche le gif de déborder */
}

.gif-superpose {
    position: absolute;
    left: 85%;
    transform: translateX(-50%); /* ajuste pour être vraiment au centre */
    z-index: 2; /* met le gif devant le texte */
    height: 2em;
}

.contenu-principal {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}

#menu {
    width: 150px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 5%;
    background-image: url("images/water.png");
    background-repeat: repeat;
}

#menu a {
    display: block; /* s’assure qu’ils prennent toute la largeur */
    padding: 8px;
    text-decoration: none;
    color: white;
}


.contenu-sections {
    flex: 1;
    border-radius: 1%;
}

section{
    border: 3px inset #0cff00;
    margin : 10px;
    padding: 10;
}

footer{
    text-align: center;
    border: 3px inset #0cff00;
    margin-top: 25px;
    border-radius: 5%;
}

nav>p{
    text-align: center;
}


